<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lengow Test Service{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
                  crossorigin="anonymous">
            {% stylesheets '@LengowTestBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid" id="navbar">
            <div class="" id="">
                <ul class="list-unstyled">
                    {% image '@LengowTestBundle/Resources/public/images/lengow.png' %}
                    <li><a href="http://lengow.com"><img src="{{ asset_url }}" alt="lengow logo"/></a></li>
                    {% endimage %}
                    <li><a href="{{ path('lengow_test_index') }}"><span class="glyphicon glyphicon-eye-open"></span>View orders</a></li>
                    <li><a href="{{ path('lengow_test_import') }}"><span class="glyphicon glyphicon-cloud-download"></span>Import orders</a></li>
                    <li><a href="{{ path('lengow_test_submit') }}"><span class="glyphicon glyphicon-plus-sign"></span>Submit new order</a></li>
                    <li><a href="{{ path('lengow_list_all') }}"><span class="glyphicon glyphicon-cog"></span>API</a></li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
                    integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
                    crossorigin="anonymous">
            </script>
        {% endblock %}
    </body>
</html>
