/* BODY */
body {
    color: #555;
}

h2 {
    color: #2e6592;
    font-weight: 900;
    font-size: 32px;
    display: block;
    margin-bottom: 30px;
}

/* NAVBAR */
#navbar {
    background-color: rgba(46, 101, 146, .95);
    font-weight: bold;
    height: 70px;
    text-align: left;
    line-height: 70px;
    margin-bottom: 50px;
}

#navbar ul {
    height: 100%;
}

#navbar li {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    padding : 0 10px 0 10px;
}

#navbar li:hover {
    background-color: rgba(46, 101, 146, 0.9);
    cursor: pointer;
}

#navbar span {
    margin: 5px;
}

#navbar a {
    color: #ffffff;
    height: 100%;
    text-decoration: none;
    display: block;
}