.tab-display {
    margin: 0 50px 0 50px;
}

/* GRID SEARCH */
.grid-search, .grid {
    box-shadow: 0 0 5px #555;
    background-color: rgba(85, 85, 85, 0.01);
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
}

.grid-search div {
    margin: 0 0 15px 0;
}

.grid-search label {
    min-width: 100px;
    font-weight: normal;
}

.grid-search select,
.grid-search input,
.grid-search-action input {
    height: 32px;
    border-radius: 1px;
    border: 1px solid rgba(230, 228, 228, 0.9);
}

.grid-search-action {
    margin-top: 10px;
    padding-left: 10%;
    height: 70px;
    line-height: 70px;
    background-color: rgba(85, 85, 85, 0.05);
}

.grid-search-action input {
    color: white;
    line-height: 100%;
    width: 40%;
    height: 60%;
}

.grid-search-submit {
    background-color: rgba(76, 207, 247, 0.8);
}

.grid-search-reset {
    margin-left: 10%;
    background-color: rgba(85, 85, 85, 0.35);
}

/* GRID */
.grid  {
    width: inherit;
    padding: 0;
}

.grid table {
    width: 100%;
}

.grid th {
    text-align: center;
}

.grid tr:first-child,
.grid tr:nth-child(2) {
    background-color: rgba(85, 85, 85, 0.12);
    height: 30px;
    text-align: center;
}

.grid th {
    border-left: 1px solid rgba(230, 228, 228, 0.9);
}

.grid td {
    border: 1px solid rgba(230, 228, 228, 0.9);
    padding-left: 10px;
}

.grid .odd {
    background-color: rgba(85, 85, 85, 0.05);
}

.grid tr:nth-child(2) input {
    margin-bottom: 10px;
}

.grid .grid-filter-input input {
    width: 90%;
}