{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LengowTestBundle/Resources/public/css/index.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="tab-display">
        {{ grid_search(grid) }}

        {{ grid(grid) }}
    </div>

{% endblock body %}