{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Submit a new order</h2>
        <div class="row">
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}

            <form method="post" {{ form_enctype(form) }}>
                <div class="form-group">
                    {{ form_label(form.marketplace, "Marketplace", {label_attr: {class: 'control-label'}}) }}
                    {{ form_widget(form.marketplace, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.idFlux, "id flux", {label_attr: {class: 'control-label'}}) }}
                    {{ form_widget(form.idFlux, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.orderId, "Order ID", {label_attr: {class: 'control-label'}}) }}
                    {{ form_widget(form.orderId, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.orderMrId, "Order Mr. ID", {label_attr: {class: 'control-label'}}) }}
                    {{ form_widget(form.orderMrId, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.orderRefId, "Order Ref. ID", {label_attr: {class: 'control-label'}}) }}
                    {{ form_widget(form.orderRefId, {attr: {class: 'form-control'}}) }}
                </div>
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-info" value="Submit"/>
            </form>

        </div>
    </div>
{% endblock body %}